body {
    padding: 0px;
    margin: 0px;
    font-family: 'Barlow', sans-serif;
}

.fullOuter {
    width: 100%;
    box-sizing: border-box;
}

/* NAV BAR */

.navBar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    /* margin-left: 125px; */
    padding-left: 65px;
    /* margin-right: 115px; */
    padding-right: 140px;
    /* margin-top: 20px; */
    padding-top: 50px;
    padding-bottom: 50px;
    /* width: 100vw; */
}

.navBar button {
    background: hsl(198, 28%, 93%);
    width: 125px;
    height: 40px;
    border-radius: 5px;
    border: none;

}

.navBar button:hover {
    background-color: hsl(220, 50%, 17%);
    color: white;
}
/* First Content */
.typeMaster {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    box-sizing: border-box;
    padding-left: 65px;
}

.typeMaster h1 {
    font-size: 56px;
    margin: 0px;
    color: hsl(220, 50%, 17%);
}

.left {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 70px;
    
    /* margin: 0px;
   
    gap: 500px; */
}


.Keyboard img {
    width: 540px;
    height: 480px;
    border-radius: 30px;
}

.textCard {
    width: 445px;
    height: 312px;
}

.textCard p {
    color: hsl(221, 23%, 58%);
}

.right div {
    background-color: lightgray;
    width: 255px;
    height: 240px;
}

.textCard button {
    background-color: hsl(22, 89%, 52%);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
}

.orderButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.orderButton p {
    color: hsl(221, 23%, 58%);
}

.orderButton button:hover {
    background: hsl(22, 100%, 69%);
}

@media (width <= 1207px) {
    .typeMaster {
        justify-content: left;
        margin: 50px;
    }
    .navBar {
        margin-left: 50px;
        margin-right: 50px;
    }
}
